.venv/
__pycache__/
*.pyc

ns3/build/
ns3/.lock-waf*
ns3/c4che/
ns3/config.log
ns3/config.status

localization/c++/utils/*.o
localization/c++/algorithms/*.o
localization/c++/analysis/*.o
localization/c++/analysis/reproduce_results
localization/c++/analysis/reduced_estimator
localization/c++/analysis/loss_estimator
localization/c++/analysis/misconfigured_acl
localization/c++/analysis/equivalence_class